/*返回按钮大小调整*/
.mui-icon-back:before, .mui-icon-left-nav:before {
    font-size: 24px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
	width: 100%;
}
.mui-scroll-wrapper{
	margin-top: 30px;
	bottom: 50px;
}
.my_font{
	font-size: 12px;
}
/*公司图片及名称*/
#companyDetail{
	width:100%;
	/*height:130px;*/
	padding-top:20px;
	padding-bottom:10px;
	text-align: center;
	background-color: #fff;
}
#companyImg{
	width:80px;
	height:80px;
	margin:0 auto;
	border:1px solid #ddd;
	border-radius: 40px;
}
#companyImg img{
	width:80px;
	height:80px;
	border:1px solid #ddd;
	border-radius: 40px;
}
#Orders{
	margin-top:10px;
	width:100%;
	min-height:130px;
	background-color:#fff;
}
/*我的订单，卖家订单标题*/
#myAndseller{
	width:100%;
	height:40px;
	line-height: 40px;
	/*border:1px solid #ddd;*/
	overflow: hidden;
	
}
.sellerOrder{
	float:left;
	text-align: left;
	width:49.5%;
}
.myOrder{
	float:left;
	text-align: right;
	width:49.5%;
	color:#909090;
}
.myOrder span,.sellerOrder span{
	padding:10px;
}
#myAndseller b{
	float:left;
	height:20px;
	width:1%;
	margin-top:10px;
	border-left:1px solid #ddd;
}
.borderBottom{
	border-bottom:10px solid #3699DC;
}
/*我的订单及卖家订单下方订单选项*/
.orderOption{
	list-style: none;
	width:100%;
	overflow: hidden;
	padding:0;
	margin-bottom:0;
}
.orderOption li{
	float:left;
	width:20%;
	text-align: center;
	margin-top:10px;
	/*border:1px solid #ddd;*/
}
.orderOption li div span.txt{
	width:80%;
}
.orderOption li div span.sure{
	width:10%;
}
.unsure,.sellunsure,.unpay,.sellunpay,.unsend,.sellunsend,.unrecieve,.sellunrecieve,.AllOrder,.sellAllOrder{
	font-size:10px;
}
.orderOption img{
	width:40%;
	height:30px;
}
.optionTxt{
	width:100%;
	text-align: center;
}
.sell{
	display:none;
}
/*商品管理*/
.goodsTxt,.myresource,.purse{
	width:100%;
	height:40px;
	/*border:1px solid #000;*/
	line-height: 40px;
	padding-left:10px;
}
.goodsManage,.resourceManage,.purseManage{
	width:100%;
	height:100px;
	background-color:#fff;
	overflow: hidden;
}
.alredyUp,.alredyUpload,.pursecoupon{
	border-right:1px solid #E0E0E0;
}
.alredyUp,.examining,.alredyUpload,.goupload,.pursecoupon,.ecash{
	float:left;
	width:50%;
	height:100px;
	text-align:center;
}
.alredyUp img,.examining img,.alredyUpload img,.goupload img,.pursecoupon img,.ecash img{
	width:30px;
	height:30px;
	margin-top:20px;
}
.upNum,.examiningNum,.uploadNum,.goNum,.couponNum,.ecashNum{
	margin-left: 5px;
	text-align: center;
}
/*退出按钮*/
.quitBtn{
	height:40px;
	padding:0;
	margin-bottom:0;
	margin-top:20px;
	background-color: #ffcc00;
	color:#323232;
	border:1px solid #ffcc00;
}
.identity{
	width:15px;
	height:15px;
	vertical-align: text-bottom;
}
.identityMarginR{
	font-size: 0.75em;
}
/*邀请码*/
#InviteCode{
	width:100%;
	height:40px;
	background-color: #fff;
	margin-top:10px;
	padding:10px;
}
#inviteCodeImg img{
	width:23px;
	height:25px;
}
#inviteCodetext{
	width:35%;
	text-align: center;
}
#inviteCodeNum{
	width:35%;
	text-align: center;
}
#shareBtn{
	color:#11A29D;
	text-decoration: underline;
	cursor: pointer;
}
