.equipmentImg{
	width: 100%;
	height: 100%;
}
.gohome{
	display: none;
}
.equipmentPrices{
	margin:10px 0;
}
.quipmentStatus{
	margin: 20px 0;
}
.pt25{
	padding-top: 25px;
}
.panel_new{
	margin-bottom: 20px;
}
.ic_new{
	border-bottom:1px solid rgb(231, 234, 236);
	border-top: 0;
}
.mt20{
	margin-top: 20px;
}