.headerTopContent{
	width: 1200px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.headerTopContent img{
	vertical-align: sub;
}
.headerTopLeft{
	font-size:12px;
	/*font-family:SimSun;*/
	font-weight:400;
}
.quitOnSafeBTN,.mainToptoLoginBtn{
	color: #0691F9;
	margin-right: 24px;
	cursor: pointer;
}
.mainTopLoginName,.quitOnSafeBTN,.mainToptoLoginBtn{
	display: none;
}
.quitOnSafeBTN{
	cursor: pointer;
}
