body{
	font-family: "微软雅黑";
}
.topMainLogo{
	height: 134px;
	line-height: 134px;
}
.shoploadHeader{
	width: 1200px;
	margin: 0 auto;
	height: 134px;
	padding-right: 100px;
}
.topMainStatus{
	height: 134px;
	line-height: 134px;
}
#shopcartSection{
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 95px;
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
	/*border: 1px solid red;*/
	overflow: hidden;
}  
.checkAllTxt{
	-webkit-user-select: none;   
	-moz-user-select: none;    
	-ms-user-select: none;    
	user-select: none;
}
.shopcartTab{
	width: 173px;
	height: 42px;
	line-height: 42px;
	border-top: 2px solid #0691F9;
	text-align: center;
	border-left: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	float: left;
	margin-top: 1px;
	background: #fff;
}
.shopCartContent{
	border-top: 1px solid #EDEDED;
}
.clearBoth{
	width: 173px;
	height: 42px;
}
.allTittle{
	padding-left: 14px;
	margin-top: 14px;
	font-size: 13px;
	overflow: hidden;
	height: 38px;
	line-height: 38px;
	background: #F8F8F8;
	border: 1px solid #eee;
	color: #8E8E8E;
	margin-bottom: 13px;
}
.col{
	/*width: 119px;*/
	width: 125px;
}
.col2{
	width: 155px;
	text-align: center;
}
.col3{
	width: 244px;
	text-align: center;
}
.col4{
	width:96px;
	text-align: center;
}
.col5{
	width:257px;
	text-align: center;
}
.col6{
	width:78px;
}

/*购物车列表*/
.cartProductList{
	overflow:hidden;
	background: #FAFDFF;
	border-bottom: 0px;
}
.simpleOrder{
	width: 100%;
	overflow: hidden;
	height: 102px;
	border-bottom: 1px solid #eee;
}
.simpleOrder:last-child{
	border-bottom: 0px solid #eee;
}
.simpleCheckbox{
	margin-right: 25px;
	height: 102px;
	line-height: 102px;
}
.productImg{
	width: 61px;
	height: 61px;
	line-height: 61px;
	margin-top: 16px;
	margin-bottom: 27px;
	margin-right: 20px;
	text-align: center;
	background-color: #fff;
}
.productImg img{
	width: 51px;
	height: 80%;
	vertical-align: middle;
	-webkit-user-select: none;   
	-moz-user-select: none;    
	-ms-user-select: none;    
	user-select: none;
}
.checkboxes{
	vertical-align: middle;
	-webkit-user-select: none;   
	-moz-user-select: none;    
	-ms-user-select: none;    
	user-select: none;
}
.nameParent{
	margin-top: 21px;
}
.productName{
	width: 155px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #696869;
	font-size: 13px;
	margin-bottom: 15px;
}
.specs{
	width: 155px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	color:#8A8A8A;
	font-size: 13px;
}
.priceBox{
	width: 244px;
	padding-top: 22px;
	font-size:15px;
	font-family: "微软雅黑";
	font-weight:400;
	color: #696869;
}
.changeQuantityBox{
	padding-top: 17px;
	font-family: "微软雅黑";
	font-weight:400;
	color: #696869;
	font-size: 15px;
}
.changeQuantityBox .numItxt{
	width: 42px;
	height: 28px;
	border: 1px solid #eee;
	text-align: center;
}
.changeQuantityBox .decrement,.changeQuantityBox .increment{
	width: 27px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #eee;
    border-right: 0;
    padding: 1px 0;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
}
.changeQuantityBox .increment{
	border: 1px solid #eee;
	border-left: 0;
}
.changeQuantityBox a:focus{
	text-decoration: none;
}
/*小计*/
.subtotalBox{
	width: 257px;
	padding-top: 21px;
	color: #EA3333;
	font-size:15px;
	font-family:MicrosoftYaHei;
	font-weight:400;
}
/*删除*/
.delBox{
	height: 102px;
	line-height: 102px;
	font-family: "微软雅黑";
	font-weight:400;
	color: #696869;
	font-size: 15px;
	cursor: pointer;
}
/*结算条*/
.settleAccountsBar{
	height: 72px;
	line-height: 72px;
	background: #FAFDFF;
	padding-left: 14px;
	font-size: 13px;
	font-family: "微软雅黑";
	color: #454545;
	font-weight: 400;
	border: 1px solid #eee;
	border-top: 0px;
}
/*全选*/
.cart-checkbox{
	margin-right: 21px;
}
.remove-batch{
	margin-right: 21px;
	color: #454545;
	-webkit-user-select: none;   
	-moz-user-select: none;    
	-ms-user-select: none;    
	user-select: none;
}
.J_clr_all{
	color: #454545;
	-webkit-user-select: none;   
	-moz-user-select: none;    
	-ms-user-select: none;    
	user-select: none;
}
/*总价*/
.price-sum,.price-sum-childBox{
	height: 72px;
	line-height: 72px;
}
/*结算按钮*/
.comm-right{
	/*margin-right: 52px;*/
}
.btn-area{
	margin-left: 65px;
}
.submit-btn{
	display: inline-block;
	width: 87px;
	height: 31px;
	line-height: 31px;
	color: #fff;
	background: #FF5555;
	text-align: center;
}
.sumPrice{
	color: #EA3333;
	font-family: "微软雅黑";
	font-size: 17px;
	font-weight: 400;
}
.TotalPrice{
	font-style: normal;
}
.txt-new{
	vertical-align: top;
}
.settleAccountsBar a:hover,.settleAccountsBar a:focus{
	text-decoration: none;
}
.settleAccountsBar .normal a:hover,.settleAccountsBar .normal a:focus{
	color: #fff;
}
.spanCheckBox{
	float: left;
	width: 22px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 999;
    left: 0px;
    width: 100%;
    background: #fff;
    box-shadow: 0 -1px 8px rgba(0,1,1,.08);
}
.toolbar-wrap{
	position: relative;
    width: 988px;
    margin: 0 auto;
}
/*删除框*/
.bgDel,.messageBG{
	position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
   	left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.del_dialog{
	width: 666px;
	background: #fff;
	margin: 0 auto;
	margin-top: 20%;
	padding-bottom: 37px;
}
.del-spinner{
	width: 100%;
	height: 46px;
	line-height: 46px;
	color: #fff;
	background: #6990F2;
	font-size:17px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	padding-left: 15px;
}
.closed{
	font-size:26px;
	cursor: pointer;
	margin-right: 15px;
}
.del_dialog_font{
	width: 100%;
	height: 154px;
	line-height: 154px;
	text-align: center;
}
.delDialogBtnRow{
	text-align: center;
}
.delDialogCancelBtn,.delDialogSureBtn{
	display: inline-block;
	width: 117px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #fff;
	border: 1px solid #E5E5E5;
	margin-right: 9px;
}
.delDialogSureBtn,.delDialogSureBtn{
	background: #6990F2;
	display: inline-block;
	border: 1px solid #6990F2;
	cursor: pointer;
	color: #fff;
}
.cancelBtns{
	cursor: pointer;
}
/*提示框*/
.message_dialog{
	width: 376px;
	background: #fff;
	margin: 0 auto;
	margin-top: 20%;
	padding-bottom: 37px;
}
.message-spinner{
	width: 100%;
	height: 46px;
	line-height: 46px;
	color: #fff;
	background: #6990F2;
	font-size:17px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	padding-left: 15px;
}
.closed{
	font-size:26px;
	cursor: pointer;
	margin-right: 15px;
}
.message_dialog_font{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.cartProductNoList{
	width:100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 17px;
	color: #8E8E8E;
	display: none;
}
.gotoAddProduct{
	color: #0691F9;
	text-decoration: underline;
	cursor: pointer;
}
.gotoAddProduct:hover{
	color: #c45500;
}
