.wrapper{
	width: 100%;
	background-color: #EEEEEE;
	padding-bottom: 60px;
}
.box{
	width: 1200px;
	margin: 0 auto;
}
/*列表通用*/
.hot_sale_title{
	width: 100%;
	padding-top: 26px;
}
.title_left{
	display: inline-block;
	width: 5px;
	height: 23px;
	background-color: #FF4C4C;
	vertical-align: -4px;
	margin-right: 9px;
}
.text{
	font-size: 19px;
	font-weight: bold;
}
.more_text{
	font-size: 15px;
	color: #666;
	font-weight: 400;
	float: right;
	margin-top: 4px;
	cursor: pointer;
}
/*热卖部分*/
.hot_sale_content{
	width: 100%;
	/*height: 300px;*/
	background-color: #FFF;
	margin-top: 18px;
	margin-bottom: 24px;
	box-sizing: border-box;
	overflow: hidden;
}
.hot_sale_content ul{
	margin: 0;
	padding: 0;
	/*display: flex;*/
	justify-content: space-around;
	align-items: center;
	/*height: 300px;*/
	overflow: hidden;
}
.hot_sale_content_item{
	box-sizing: border-box;
	cursor: pointer;
	width: 25%;
	float: left;
}
.hot_sale_content_item:nth-child(6){
	clear: both;
}
.imgbox{
	width: 189px;
	height: 171px;
	text-align: center;
	margin: 31px auto 0px auto;
	position: relative;
}
.imgbox img:nth-of-type(1){
	/*width: 17px;
	height: 20px;
	position: absolute;
	right: 0;
	top: -19px;*/
    width: 30px;
    height: 30px;
    position: absolute;
    right: -28px;
    top: -27px;
}
.imgbox img:nth-of-type(2){
	width: 189px;
	height: 171px;
}
.item_text{
	/*width: 200px;*/
	font-size: 14px;
	color: #5A5A5A;
	margin-top: 23px;
	margin-bottom: 11px;
	/*margin-top: 25px;
	margin-bottom: 13px;*/
	padding-left: 61px;
}
.item_price{
	font-size: 21px;
	color: #FF5653;
	margin-bottom: 29px;
	padding-left: 61px;
}
/*精选部分*/
.selected_sale_content{
	margin-top: 19px;
	margin-bottom: 13px;
}
.selected_item_first{	
	width: 100%;
	margin-bottom: 10px;
}
.selected_item_second{	
	width: 100%;
}
.selected_item_first ul,.selected_item_second ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
/*.selected_item_first ul .selected_item{
	margin-bottom: 10px;
}*/
.selected_item{
	width: 596px;
	height: 243px;
	background-color: #FFF;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}
.img_box{
	margin: 27px 28px 15px 30px;
}
.img_box img{
	display: block;
}
.img_box img:nth-of-type(1){
	margin-bottom: 13px;
}
.img_box img:nth-of-type(2){
	width: 190px;
	height: 128px;
}
.selected_content_box{
	margin: 28px 28px 32px 0;
}
.selected_title{
	font-size: 17px;
	color: #1C1C1C;
	margin-bottom: 19px;
}
.selected_introduce{
	margin-bottom: 16px;
}
.selected_introduce ul{
	padding-left: 40px;
	margin: 0;
	list-style: disc;
	width: 100%;
	display: block;
}
.selected_introduce ul li{
	font-size: 15px;
	color: #626262;
	width: 100%;
	line-height: 21px;
}
.selected_method{
	font-size: 15px;
	color: #626262;
	margin-bottom: 14px;
}
.selected_price{
	font-size: 0px;
	width: 177px;
	height: 39px;
}
.selected_price span{
	display: inline-block;
}
.selected_price span:nth-of-type(1){
	font-size: 24px;
	color: #FF5555;
	width: 96px;
	height: 39px;
	border-right: 0;
	border-left: 1px dashed #FF5555;
	border-bottom: 1px dashed #FF5555;
	border-top: 1px dashed #FF5555;
	text-align: center;
	line-height: 39px;
}
.selected_price span:nth-of-type(2){
	width: 81px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	font-size: 15px;
	color: #FFF;
	background-color: #FF5555;
	vertical-align: 5px;
	cursor: pointer;
}
/*藏药系列,冬虫夏草,健康饮食部分*/
.tibetanMedicine_sale_content,.cordycepsSinensis_sale_content,.healthyDiet_sale_content{
	margin-top: 20px;
	margin-bottom: 24px;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
}
.left_box{
	width: 232px;
	/*height: 549px;*/
	height: 546px;
	background: url(../img/left_backimg.png) no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: cover;
}
.left_box div:nth-of-type(1){
	/*width: 20%;*/
	padding: 29px 0px 8px 26px;
	font-size: 19px;
	color: #333;
	box-sizing: border-box;
	width: 226px;
	max-width: 226px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.left_box div:nth-of-type(1) span{
	font-size: 16px;
	color: #333;
}
.left_box div:nth-of-type(2){
	font-size: 19px;
	color: #333;
	box-sizing: border-box;
	padding: 0px 0px 15px 28px;
	width: 226px;
	max-width: 226px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.left_box div:nth-of-type(2) span{
	font-size: 13px;
	color: #333;
}
.left_box div:nth-of-type(3){
	font-size: 12px;
	/*color: #333;*/
	color: #0691F9;
	width: 68px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	/*border: 1px solid #727272;*/
	border: 1px solid #0691F9;
	box-sizing: border-box;
	margin: 0px 0px 26px 26px;
	cursor: pointer;
}
.left_box div:nth-of-type(4){
	margin: 0 auto;
	width: 198px;
	height: 146px;
	margin-bottom: 38px;
}
.left_box div:nth-of-type(4) img{
	width: 198px;
	height: 146px;
}
.left_box div:nth-of-type(5){
	width: 197px;
	height: 166px;
	background-color: #E49F35;
	margin-left: 14px;
}
.left_box div:nth-of-type(5) ul{
	/*padding: 16px 12px 19px 13px;*/
	padding: 16px 12px 19px 6px;
	margin: 0;
}
.left_box div:nth-of-type(5) ul li{
	font-size: 13px;
	color: #FFF;
	white-space: nowrap;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.right_box{
	height: 549px;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
}
.right_left_box{
	/*width: 727px;*/
	/*height: 549px;*/
	/*width: 730px;*/
	width: 732px;
	height: 550px;	
	/*width: 734px;*/
    /*height: 555px;*/
	/*box-sizing: content-box;*/
	overflow: hidden;
}
.right_left_top_box{
	/*justify-content: space-around;*/
    /*margin-bottom: 2px;*/
	/*display: flex;*/
	/*justify-content: flex-start;*/
	box-sizing: border-box;
    width: 726px;
    margin: 1px auto;
	/*overflow: hidden;*/
	/*border: 1px solid #000;*/
	/*box-sizing: content-box;*/
}
.content_item_box{
	/*width: 240px;
	height: 272.5px;
	float: left;
	margin: 1px;
	box-sizing: border-box;
	box-sizing: content-box;
	background-color: #FFF;
	cursor: pointer;
	border: 1px solid #EDEDED;*/
	width: 240px;
	height: 272.5px;
	margin: 0px 1px;
	/*border: 1px solid red;*/
	display: inline-block;
}
/*.content_item_box:nth-of-type(2),
.content_item_box:nth-of-type(4),
.content_item_box:nth-of-type(5),
.content_item_box:nth-of-type(7){
	margin: 1px 2px;
}*/
.content_item_box:nth-of-type(2),
.content_item_box:nth-of-type(3)
.content_item_box:nth-of-type(4){
	margin-bottom: 1px;
}
.contentbox{
	width: 238px;
	height: 270.5px;
	float: left;
	/*margin: 1px;*/
	/*box-sizing: border-box;*/
	box-sizing: content-box;
	background-color: #FFF;
	cursor: pointer;
	/*border: 1px solid #EDEDED;*/
}
.content_item_box .contentbox div:nth-of-type(1){
	font-size: 16px;
	color: #333;
	padding: 38px 0px 9px 25px;
	width: 238px;
	max-width: 238px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.content_item_box .contentbox div:nth-of-type(2){
	font-size: 13px;
	color: #FF5555;
	padding: 0px 0px 13px 26px;
	width: 238px;
	max-width: 238px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.content_item_box .contentbox div:nth-of-type(3){
	padding: 0px 0px 10px 39px;
	cursor: pointer;
}
.contentbox:hover{
	/*box-shadow: 0px 0px 5px #4A4A4A;*/
	/*box-shadow: 0px 0px 5px rgba(74,74,74,0.24);*/
	/*box-shadow: 0px 0px 18px rgba(74,74,74,0.24);*/
	box-shadow: 0px 0px 18px rgba(74,74,74,.5);
}
.right_left_bottom_box{
	display: flex;
	justify-content: space-around;
	/*justify-content: flex-start;*/
	/*box-sizing: border-box;*/
	box-sizing: content-box;
}
.right_right_box{
	width: 242px;
	/*height: 549px;*/
	height: 546px;
	overflow: hidden;
}
.right_right_box ul li{
	width: 239px;
	/*height: 183px;*/
	/*height: 183.5px;*/
	height: 183.25px;
	background-color: #FFF;
	border: 1px solid #EDEDED;
	cursor: pointer;
}
.right_right_box ul li>div{
	width: 235px;
    height: 175.25px;
    margin-left: 2px;
}
.right_right_box ul li>div:hover{
	box-shadow: 0px 0px 18px rgba(74,74,74,.5);
}
.right_right_box ul li div div:nth-of-type(1){
	font-size: 16px;
	color: #333;
	padding: 22px 0px 10px 29px;
	width: 235px;
	max-width: 235px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/*white-space: nowrap;*/
}
.right_right_box ul li div div:nth-of-type(2){
	font-size: 13px;
	color: #FF5555;
	padding: 0px 0px 5px 28px;
	width: 235px;
	max-width: 235px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.right_right_box ul li div div:nth-of-type(3){
	width: 100%;
	text-align: right;
	padding: 0px 15px 5px 0px;
}


/*轮播*/
/*#carousel-example-generic{
	width: 50%;
	height: 393px;
	left: calc(50% - 25%);
}*/
.carousel-control.left,.carousel-control.right{
	background-image: none !important;
	height: 61px !important;
    line-height: 61px;
}
.carousel-control.left{
	left: 30.5%;
	top: 38%;
	z-index: 99;
}
.carousel-control{
	width: 2%;
}
.carousel-control.right{
	right: 28.5% !important;
	top: 38%;
	z-index: 99;
}
.carousel-indicators li {
    display: inline-block !important;
    width: 42px !important;
    height: 3px !important;
    margin: 1px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #0691F9 !important;
    background-color: rgba(0,0,0,0) !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: url(../img/carousel_item.png) no-repeat !important;
    background-position: center !important;
    background-size: cover !important;    
}
.carousel-indicators .active {
    width: 42px !important;
    height: 3px !important;
    margin: 0 !important;
    /*background-color: #fff;*/
   	background: url(../img/active.png) no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.carousel_right_box{
	width: 192px;
	height: 374px;
	background-color: #FFF;
	position: absolute;
    right: 18.21%;
    top: 6px;
}
.right_banner{
	width: 179px;
	height: 110px;
	margin: 6px 7px 7px 6px;
}
.right_content_box{
	width: 192px;
	height: 250px;
	box-sizing: border-box;
	overflow: hidden;
}
.right_content_box ul li{
	width: 96px;
	height: 83px;
	float: left;
	text-align: center;
	border-top: 1px solid #EDEDED;
	border-left: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	padding-top: calc(30% - 41.5px);
}
.icon_box{
	margin-bottom: 10px;
}
/*轮播部位导航栏样式更改*/
.top_main_nav{
	background-color: #FFF;
}
.top_main_nav_content ul li{
	color: #484848;
	/*font-size: 16px;*/
}
.ulDown1{
	position: relative;
    left: -21px;
    background: #fff;
    overflow: hidden;
    width: 231px;
    height: 393px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    display: block;
    z-index: 22;
}
.top_main_nav_content ul li ul.ulDown1 li {
    width: 231px;
    /*height: 45px;*/
    /*line-height: 45px;*/
    /*height: 65.5px;*/
    /*line-height: 65.5px;*/
   	height: 44px;
   	line-height: 44px;
    background: #fff;
    text-align: left;
    color: #484848;
    border-bottom: 1px solid #EBEBEB;
}
.top_main_nav_content ul li {
    width: 115px;
    height: 51px;
    line-height: 51px;
    padding: 0px 21px;
    color: #000;
    text-align: center;
    float: left;
    cursor: pointer;
}
.top_main_nav_content ul li ul.ulDown1 li.hoverStyle{
	background: #F4F4F4;
	color: #0691F9;
	text-decoration: underline;
}


.hot_icon_box{
	position: relative;
}
.hot_icon{
	position: absolute;
    left: 71px;
    top: -3px;
}


.more_more{
	position: absolute;
    right: 12px;
    bottom: 7px;	
}
.more_more a{
	background-color: #CCCCCC;
	width: 58px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	color: #FFF;
	display: inline-block;
}

.more_more i{
	margin-left: -5px;
	width: 20px;
	height: 20px;
	background-color: #BBB;
	color: #FFF;
	line-height: 20px;
	text-align: center;
}
.item img{
	height: 397px !important;
}
.obsoleteBox{
	width: 100%;
	height: 397px;
	background: rgba(0, 0, 0, .5);
	font-size: 30px;
	color: #0092F5;
	text-align: center;
	line-height: 397px;
}
/*模板不显示*/
.bannertpl{
	display: none !important;
}
.bannertpl1{
	display: none !important;
}
.bannertpl2{
	display: none !important;
}
.boxTpl{
	display: none;
}
.hotItemTpl{
	display: none;
}
.selectedItemTpl{
	display: none;
}
.liTpl{
	display: none;
}
.rightLeftTpl{
	display: none;
}
.rightLeftItemTpl{
	display: none;
}
.rightBoxTpl{
	display: none;
}

/*搜索框微调*/
.search-in{
	text-indent: 25px;
}

.topMainLogo{
	cursor: pointer;
}
.myOrder{
	cursor: pointer;
}
.ulChildDown{
	height: 393px;
}


.top_main_nav_content ul.ulChildDown li{
	white-space: nowrap;
}


.carousel-indicators .active{
	margin: 1px !important;
}
/*隐藏文本域超出内容*/
.left_box_list{
	overflow: hidden;
}
.left_box_list ul li img{
	width: 50px;
	height: 50px;
}