/*content_top*/
.top_step_box{
	border-bottom: 1px solid #EBEBEB;
	width: 100%;
}
.step_box{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo_box{
	text-align: left;
	width: 30%;
	height: 123px;
	line-height: 123px;
	/*padding: 13px 0 24px 0;*/
	cursor: pointer;
}
.logo_box img{
	vertical-align: middle;
}
.step{
	width: 70%;
	height: 123px;
	text-align: right;
	line-height: 123px;
}
.step img{
	vertical-align: middle;
}
/*content_middle*/
.content_box{
	width: 100%;
}
.wrapper_content{
	width: 1200px;
	height: 353px;
	margin: 20px auto 73px auto;
	border: 1px solid #E6E6E6;
	display: flex;
	justify-content: flex-start;
	/*padding: 34px 59px 75px 85px;*/
	/*box-sizing: border-box;*/
}
.leftBox{
	/*width: 546px;*/
	/*width: 570px;*/
	width: 600px;
}
.leftBox_top{
	margin-left: 85px;
	margin-top: 34px;
	margin-bottom: 36px;
}
.leftBox_top span:nth-of-type(1){
	margin-right: 12px;
}
.leftBox_top span:nth-of-type(1) img{
	width: 35px;
	height: 35px;
	vertical-align: -9px;
}
.leftBox_top span:nth-of-type(2){
	font-family: "微软雅黑";
	font-size: 25px;
	color: #000;
	font-weight: bold;
}
.leftBox_middle{
	display: flex;
	justify-content: flex-start;
	margin-left: 85px;
}
.leftBox_middle_left{
	margin-right: 14px;
}
.leftBox_middle_left ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.leftBox_middle_left ul li{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #999999;
	text-align: left;
}
.leftBox_middle_left ul li:nth-of-type(1),.leftBox_middle_right ul li:nth-of-type(1){
	margin-bottom: 24px;
}
.leftBox_middle_left ul li:nth-of-type(2),.leftBox_middle_right ul li:nth-of-type(2){
	margin-bottom: 15px;
}
.leftBox_middle_left ul li:nth-of-type(3),.leftBox_middle_right ul li:nth-of-type(3){
	margin-bottom: 33px;
}
.leftBox_middle_right ul li{
	font-family: "微软雅黑";
	font-size: 15px;
	color: #404040;
	text-align: left;	
}
.leftBox_middle_right ul li:nth-of-type(1),.leftBox_middle_right ul li:nth-of-type(2) span:nth-of-type(1){
	font-weight: bold;
}
.leftBox_middle_right ul li:nth-of-type(2) span:nth-of-type(2){
	color: #2C81D5;
	cursor: pointer;
}
.leftBox_middle_right ul li:nth-of-type(2) span:nth-of-type(2):hover{
	text-decoration: underline;
}
.leftBox_middle_right ul li:nth-of-type(3){
	font-size: 17px;
	color: #FF4D52;
	font-weight: bold;
}
.leftBox_bottom{
	margin-left: 85px;
	width: 163px;
	height: 46px;
	border: 1px solid #EAEAEA;
	text-align: center;
	line-height: 46px;
	font-size: 15px;
	font-family: "微软雅黑";
	color: #585858;
	cursor: pointer;
}
.leftBox_bottom:hover{
	background-color: #0691F9;
	color: #FFF;
}
.middleLine{
	width: 2px;
	height: 337px;
	border: 1px dashed #E6E6E6;
	margin: auto 0;
}
.rightBox{
	width: 653px;
	padding: 80px 0 114px 55px;
	display: flex;
	box-sizing: border-box;
	text-align: center;
}
.rightBox_left{
	width: 152px;
	height: 159px;
	background: url(../img/icon4.png) no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	margin-right: 27px;
}
.rightBox_left div:nth-of-type(1){
	margin: 16px auto;
}
.rightBox_left div:nth-of-type(2){
	width: 152px;
	position: absolute;
	bottom: -8px;
	left: calc(50% - 76px);
}
.rightBox_right{
	padding: 35px 0 41px 0;
	box-sizing: border-box;
}
.rightBox_right ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.rightBox_right ul li{
	text-align: left;
}
.rightBox_right ul li:nth-of-type(1){
	margin-bottom: 13px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #767676;
}
.rightBox_right ul li:nth-of-type(2){
	margin-bottom: 9px;
	font-family: "微软雅黑";
	font-size: 28px;
	color: #FF4446;
}
.rightBox_right ul li:nth-of-type(3){
	font-family: "微软雅黑";
	font-size: 16px;
	color: #767676;
}
