@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1559741844430'); /* IE9 */
  src: url('iconfont.eot?t=1559741844430#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABqwAAAKZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBOIFFATYCJAMICwYABCAFhG0HMBvrBREVjFWyH4VxG10klYl0Uuia7r45qsa+DxFUa9lzu08QVIgy0ayJhGLjvnwiXYxmyUb8z1/zrQIrgceH22gUUWBVtJ2uQaqA921USRdA421Nx3BvVITqkj1PPcv/yP/uSMM6j9MohZAIyf8cM116geR/vjeXjKSkvQGOB7IBRfUl2R3IAfgNYxe8wOME6iasiT2L1QFVmT0uEA/ZdBSqBY8ss3hVKDcszRBPOKpFqzgAj9Hvxz9j8EGhlMAuOkyZE7BFiZwkVq1fEwgQvCCg1SUkrCETp42RfUiCEZN6JJvhWPnBV+P/D3TiqP88UQY7twnGIOeZuB7vUekLkGnPBq4mfQipKdYWz4TjQjpvtPtK5a5X1+3mvlyc53O415Y4XP7Vk5rU6ejUprjc7ezi87rM5e7XDSwbYnO5rH1CVINyJkScCbuJ454x6/vJnuQx1oxZEDfOkxQxNh0b9uweQ41JM+o1ms1RXFlhQmEDjoYtgP46HZPth/6N3juwC3ewX1XEBngZpzqRq7/OMMxG9bTW4PdxB9Zlg29ri6xxGxOFDem2Surq6AN2DPqcqhi510SoGrljW8V4BknVHDJj16CkYR3KqpSbULdqWN0whOxFrmHFG0Do+kCh7RmSri8yY39QMuoPZd3YQ915DG3ZsBBB7BJKRgPqBUFPo3X1LOL8I7pblpTnR6Qr0hr80FZNOT7giLTEjPXuOmYLlqYCB3Aa5jzBTFNEzZVnnvu6tk3fVOmpbIRdBEkMGUB5AYE2GdmgOROVnz9Czk0mUUdNnfEKkVXoHLQqzQDkIBkH1TzKK6s7p8OYBSwyKcABmFB2IhMwNw+KkMYqfkJo1qtRIztUUm0vK3+3BepsZRFOv6R8fZOjCpsNAAAA') format('woff2'),
  url('iconfont.woff?t=1559741844430') format('woff'),
  url('iconfont.ttf?t=1559741844430') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1559741844430#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e60b";
}

