#section{
	width: 1200px;
	margin: 0 auto;
}

.fl_shang{
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background:rgba(244,244,244,1);
	display: flex;
	justify-content: space-between;
}
.fl_s_btn{
	height:26px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(238,238,238,1);
	line-height: 26px;
	margin-top: 6px;
	padding: 0 5px;
	margin-left: 8px;
	display: none;
}
.fl_s_del{
	color: red;
	margin-left: 18px;
	cursor: pointer;
}
.fl_s_r{
	color:rgba(156,156,156,1);
	font-size:13px;
	font-family:SimSun;
	font-weight:400;

	cursor: pointer;
}
.sp_fl_div{
	color:rgba(156,156,156,1);padding: 10px;
	text-align: center;
}
.dis_fl{
	display: flex;
	flex-wrap: wrap;
}
.pt10{
	padding-top: 10px;
}
.pt20{
	padding-top: 20px;
}
.w10{
	width: 10%;
}
.w8{
	width: 8%;
}
.w82{
	width: 82%;
}
.sfl_cen_d{
	padding: 0 25px 20px 18px;
	width: 96px;
	text-align: left;
}
.sfl_cen_d:hover{
	color:#0691f9 ;
	text-decoration:underline ;
	cursor: pointer;
}
.ml7{
	margin-left: 7px;
}
.dis_flc{
	display: flex;
	justify-content: center;
}
.prt2{
	position: relative;
	top: 2px;
}
.jsy3_div{
	height:42px;
	line-height: 42px;
	background:rgba(248,248,248,1);
	border:1px solid rgba(218,218,218,1);
	margin: 15px 0 20px 0;
	display: flex;
}
.zdiv_3{
	width:82px;
	text-align: center;
	border-right:1px solid rgba(218,218,218,1);
	cursor: pointer;
}
.jg_sx{
	width: 13px;
	padding-top: 12px;
	margin-left: 5px;
	line-height: 0;
}
.zdic_selected{
	background:rgba(255,255,255,1);
	color: #3A91F3;
}
.rdiv_3{
	width: 1036px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
.rdiv_input{
	width: 50px;height: 24px;border:1px solid rgba(218,218,218,1);
	padding-left: 8px;
}
.red{
	color: #F94059;
}
.sp_div{
	width:222px;
	height:320px;
	border:1px solid rgba(241,241,241,1);
	padding: 15px;
	margin: 0 0 22px 22px;
}
.sptt_d{
	height: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spdes_d{
	height: 100px;
	line-height: 24px;


}
.sp_des_p1{
	font-size:21px;
	color:rgba(234,51,51,1);
}
.fts17{
	font-size: 17px;
}
.sp_des_p2{
	font-size: 13px;
	color: #373737;

}
.ccd{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.spl_selected{
	border:2px solid rgba(249,64,89,1);
}
.fy_btn{
	width:45px;
	height:35px;
	line-height: 35px;
	text-align: center;
	border:1px solid rgba(228,228,228,1);
	color: #818181;
	font-size: 16px;
	cursor: pointer;

}
.sx_btn{
	font-size: 14px;
	width: 62px;
	margin: 0 10px;
}
.fy_input{
	width:51px;
	height:35px;
	border:1px solid rgba(228,228,228,1);
	margin: 0 10px;
}
.fy_zi{
	font-size:14px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(129,129,129,1);
}
.fy_quebtn{
	width:67px;
	height:35px;
	background:rgba(232,232,232,1);
	border:1px solid rgba(228,228,228,1);

	font-size:14px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(129,129,129,1);
	text-align: center;
	line-height: 35px;
	margin-left: 10px;

	cursor: pointer;
}
.fy_selected_btn{
	background:rgba(6,145,249,1);
	color: #FFFFFF;
}

.zhankai_d{
	cursor: pointer;
	display: none;

}
.daotu{
	transform:rotate(180deg);
}
.pr_sx{
	width: 9px;
	height: 9px;
}
.rxf_div{
	position: fixed;
	top: 60%;
	right: 2%;
	cursor: pointer;

}
.rdb{
	width: 50px;height: 50px;
	line-height: 65px;
	text-align: center;
	border:1px solid rgba(229,229,229,1);
}
.rdb_h{
	border:1px solid rgba(229,229,229,1);
	width: 50px;height: 50px;
	line-height: 15px;
	text-align: center;
	background-color: #0691F9;
	color: #fff;
	display: none;
	padding: 10px;
}
.dao_div{
	margin: 23px 0 17px 0;
}
.yi_div{
	width:1200px;
	min-height:532px;
	border:1px solid rgba(227,227,227,1);
	padding: 10px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
}
.yi_l_1d{
	width: 360px;
	height: 376px;background:rgba(247,247,247,1);
}
.dis_fc{
	display: flex;
	justify-content: center;
	align-items: center;
}
.yi_l_2d{
	margin: 21px 0 17px 0;height: 61px;
	display: flex;
}
.yi_l_2dd{
	width: 60px;
	margin-right: 10px;
	cursor: pointer;
}
.yi_l_2dd:hover{
	border:1px solid #ECECEC;
}
.yi_l_3d{
	color: #9C9C9C;line-height: 18px;
}
.yi_r_1dd{
	font-size:21px;
	font-family:MicrosoftYaHei;
	font-weight:bold;
	color:rgba(0,0,0,1);
	margin: 10px 0;
}
.yi_r_2dd{
	width:355px;
	height:32px;
	font-size:13px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(252,46,41,1);
	line-height:19px;
}
.yi_r_3dd{
	width:797px;
	height:60px;
	background:rgba(243,243,243,1);
	margin: 10px 0;
	padding: 10px 0 10px 20px;

	font-size:21px;
	font-family:MicrosoftYaHei;
	font-weight:bold;
	color:rgba(252,50,50,1);
	line-height: 40px;

}
.yi_r_4dd{
	font-size:13px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:#474747;
	line-height: 26px;
}
.xiand{
	width:798px;
	height:1px;
	background:rgba(227,227,227,1);
	margin-top: 10px;
}
.yi_r5dd1{
	width: 85px;padding-left: 5px;color: #9C9C9C
}
.yi_r5dd2{
	padding: 0 5px;
	text-align: center;
	color: #000;
	background: url("../img/999_22.png") no-repeat;
	background-size:100% 100%;
	font-size: 12px;

}
.yi_r6d{
	width:124px;
	height:32px;
	border:1px solid rgba(184,184,184,1);
	cursor: pointer;
}
.yi_r6d1{
	width:31px;
	border-right:1px solid rgba(184,184,184,1);
}
.yi_r6d2{
	width: 60px;
	color: #9C9C9C;
	text-align: center;
	line-height: 30px;
}
.yi_r6d3{
	width:31px;
	border-left:1px solid rgba(184,184,184,1);
	font-size: 24px;
	font-weight: bold;
	user-select: none;
}
.yi_6d_jbtn{
	width:14px;
	height:3px;
	background:rgba(184,184,184,1);
}
.yi_r7d{
	margin-top: 10px;
	display: flex;
}
.yi_r7d1{
	width:173px;
	height:44px;
	background:rgba(232,245,255,1);
	border:1px solid rgba(6,145,249,1);
	border-radius:3px;
	font-size:19px;
	color: #0691F9;
	margin-right: 8px;
	cursor: pointer;
}
.yi_r7d2{
	width:173px;
	height:44px;
	background:rgba(6,145,249,1);
	border-radius:3px;
	font-size:19px;
	color: #fff;
}
.yi_r8d{
	margin-top: 30px;

	display: flex;
}
.yi_r8dd{
	height:12px;
	font-size:13px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(47,47,47,1);
	line-height:18px;
	margin-left: 20px;
}
.er_div{
	width: 1200px;
	border: 1px solid #E2E2E2;
	margin-top: 15px;

}
.er_dd1{
	height:43px;
	background:rgba(247,247,247,1);
	border-bottom: 1px solid #E2E2E2;
	display: flex;
	align-items: center;

	font-size:19px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(0,0,0,1);

}
.er_dd1_l{
	width:6px;
	height:29px;
	background:rgba(6,145,249,1);

	margin-right: 15px;

}
.er_dd2{
	padding: 15px;
	font-size:13px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:19px;

	border-bottom: 1px solid #E2E2E2;
}
.er_dd3{
	padding: 15px;

	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(156,156,156,1);
	line-height:22px;

}
.san_dd1{
	height:43px;
	display: flex;
	align-items: center;

	font-size:19px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(0,0,0,1);
}
.san_dd2{
	width:1200px;
	/*height:506px;*/
	background:rgba(255,255,255,1);
	border:1px solid rgba(226,226,226,1);
	padding: 25px;

	margin-bottom: 28px;


	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(52,52,52,1);
	line-height:30px;
}
.san_dd_l{
	padding-left: 45px;
}
.type_sp{
	color: #0691F9
}
#s_type_div{
	display: none;
}
.yi_r6d2 input{
	width: 100%;
	height: 100%;
	border: 0px;
	margin-bottom: 4px;
	text-align: center;
	outline:none;
}
.storeLimitWarn{
	color: #E4393C;
	font-size: 12px;
	display: none;
}


.jqzoom{width:inherit;height:inherit;float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:350px;height:350px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
.jqzoom img{
	width: inherit;
	height: inherit;
}
