<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>金诃药店</title>
	<link rel="stylesheet" href="../../common/bootstrap.css" />
	<link rel="stylesheet" href="../../common/reset.css" />
	<link rel="stylesheet" href="../../common/style.css" />
	<link rel="stylesheet" href="../../common/common.css" />
	<link rel="stylesheet" href="../../css/headerTop.css" />
	<link rel="stylesheet" href="../../css/mainTop.css" />
	<link rel="stylesheet" href="../../css/footer.css" />
	<link rel="stylesheet" href="../../css/fix_right_menu.css" />
	<link rel="stylesheet" href="../../css/shop_index.css" />
	<link rel="stylesheet" href="../../css/layui/css/layui.css" />
	<link rel="stylesheet" href="../../css/order_index.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../../css/layui/layui.all.js"></script>
	<style>
		.footerMiddle{
			font-size: 12px;
		}
		[v-cloak]{
        display:none
    	}
	</style>
</head>

<body>
	<header>
		<div class="loadTop"></div>
		<div class="loadHeader"></div>
	</header>
	<div id="app" style="background-color: #f8f8f8;padding-bottom:40px;"v-cloak>
		<div id="section">
			<ul class="breadcrumb">
				<li><a href="/">首页</a></li>
				<li><a href="/pages/shop/orderList.html">我的订单</a></li>
			</ul>
			<div class="myordertitle">
				<div class="myorder">我的订单</div>
				<div style="padding-top:4px;">
					<input type="button" v-on:click="search()" class="search_bt inputborder" value="搜索"><input
						v-model="inputtext" type="text" placeholder="请输入商品名称查询"
						class="mui-input-password searchInput inputborder pd10"></div>
			</div>
			<!-- <div class="layui-form">
				<div class="layui-inline">
				<select name="city" lay-verify="required">
					<option value="">请选择一个城市</option>
					<option value="010">北京</option>
					<option value="021">上海</option>
					<option value="0571">杭州</option>
				</select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择一个城市" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit" style=""><dd lay-value="" class="layui-select-tips layui-this">请选择一个城市</dd><dd lay-value="010" class="">北京</dd><dd lay-value="021" class="">上海</dd><dd lay-value="0571" class="">杭州</dd></dl></div>
				</div>
			</div> -->
			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				<div v-on:click="oshow=false;" v-show="oshow" class="o_orderall">
					<div>{{orderStrs}}</div>
				</div>
				<div v-show="!oshow" class="orderall" v-on:click="oshow=true;">
					<div class="alls">{{orderStrs}}</div>
					<ul class="orlist">
						<li v-on:click="onHistory('3')">3个月内订单</li>
						<li v-on:click="onHistory('')">全部订单</li>
					</ul>
				</div>
				<ul class="layui-tab-title">
					<li class="w175"></li>
					<li v-on:click="select(0)" class="layui-this">全部 <span class="red" id="whole"></span></li>
					<li v-on:click="select(1)" class="">待支付 <span class="red" id="payFrom"></span></li>
					<li v-on:click="select(2)">待发货 <span class="red" id="dFromGood"></span></li>
					<li v-on:click="select(3)">待收货 <span class="red" id="dReceivingGood"></span></li>
					<li v-on:click="select(4)">已完成 <span class="red" id="completed"></span></li>
					<li v-on:click="select(5)">已取消 <span class="red" id="cancel"></span></li>
				</ul>
				<div class="layui-content">
					<div class="layui-tab-item layui-show">
						<div v-for="row in orderList" class="mb20 bgwhite">
							<div class="orderTitle layui-row">
							<div v-if="row.orderType == 1" class="layui-col-md4">订单号：{{row.orderId}}（{{(new Date(row.orderTime)).Format("yyyy-MM-dd hh:mm:ss")}}）</div>
							<div v-if="row.orderType == 2" class="layui-col-md4">订单号：{{row.orderId}}（{{(new Date(row.payTime)).Format("yyyy-MM-dd hh:mm:ss")}}）</div>
							<div v-if="row.orderType == 3" class="layui-col-md4">订单号：{{row.orderId}}（{{(new Date(row.deliveryTime)).Format("yyyy-MM-dd hh:mm:ss")}}）</div>
							<div v-if="row.orderType == 4" class="layui-col-md4">订单号：{{row.orderId}}（{{(new Date(row.completionTime)).Format("yyyy-MM-dd hh:mm:ss")}}）</div>
							<div v-if="row.orderType == 5" class="layui-col-md4">订单号：{{row.orderId}}（{{(new Date(row.cancellationTime)).Format("yyyy-MM-dd hh:mm:ss")}}）</div>
								<div class="layui-col-md4">订单金额 <span class="red">￥{{row.price}}</span> {{row.payType}}
								</div>
								<div class="layui-col-md4 sbox tc">
									<!-- <div class="layui-form" style="margin-left:220px;">
										<div v-on:click="onShow(row)" v-show="row.oshowmore" class="o_orderall_more">
											<div style="cursor: pointer;">更多操作</div>
										</div>
										<div v-on:click="row.oshowmore=true;" v-show="!row.oshowmore" class="orderall_more">
											<div style="cursor: pointer;" class="alls_more">更多操作</div>
											<ul class="orlist_more">
												<li style="cursor: pointer;" style="text-decoration: aliceblue">修改收货地址</li>
											</ul>
										</div>
									</div> -->
								</div>
							</div>
							<div class="borderall" v-if="row.drugOrderProductList"
								v-bind:style="{ height: (150*(row.orderHeight==0?1:row.orderHeight)-(row.orderHeight>1?1:0))+(55*row.packageNum)+'px' }">
								<div class="layui-col-md6">
									<ul style="margin-top:-1px;">
										<ul v-for="items in row.drugOrderProductList">
											<li class="orderlist borderlinetop" v-if="items.mealList"
												v-bind:style="{ height: (150*(items.mealList.mealList.length==0?1:items.mealList.mealList.length)-(items.mealList.mealList.length>1?1:0))+70+'px' }">
												<div style="border-bottom: 1px solid #eee;">【套餐】{{items.mealList.mealName}}</div>
												<ul v-for="(item1, index1) in items.mealList.mealList">
													<li class="orderlist">
														<div class="headerdiv"><img  v-bind:src="item1.fileUrl?item1.fileUrl:'../../images/shopCart/productImg1.png'" class="orderimg" />
														</div>
														<div>{{item1.drugName}}</div>
														<div>{{item1.specs}}</div>
														<div>￥{{item1.presentPrice}}/{{item1.drugNum}}{{item1.unit}}</div>
													</li>
												</ul>
											</li>
											<li class="orderlist borderlinetop" v-else>
												<div class="headerdiv"><img  v-bind:src="items.drugUrl?items.drugUrl:'../../images/shopCart/productImg1.png'" class="orderimg" />
												</div>
												<div>{{items.drugName}}</div>
												<div>{{items.specs}}</div>
												<div>￥{{items.drugPrice}}X{{items.drugNum}}</div>
											</li>
											<li v-if="row.drugOrderProductList.length == 0" class="orderlist borderlinetop">
											&nbsp;
											</li>
										</ul>
										
										
									</ul>
								</div>
								<div class="layui-col-md3 borderline maxheight">
									<div v-if="row.orderType == 1" class="vercenter potsion">
										<div style="color:red">等待付款</div>
										<div v-bind:id="row.orderId"></div>
									</div>
								</div>
								<div class="layui-col-md3 maxheight">
									<div class="vercenter linef">
										<div style="cursor: pointer;color:red" v-on:click="onDetails(row.orderId)">订单详情
										</div>
										<div v-if="row.orderType == 3" style="cursor: pointer;color:red"
											v-on:click="onOk(row.orderId)">确认收货
										</div>
										<div style="cursor: pointer;" v-on:click="onBuy(row)">再次购买</div>
										<div style="cursor: pointer;"
											v-if="row.orderType != 5 && row.orderType != 4 && row.orderType != 3&& row.orderType != 2"
											v-on:click="onCancel(row.orderId)">取消订单</div>
										<div style="cursor: pointer;"
											v-if="row.orderType != 5 && row.orderType != 4 && row.orderType != 3 && row.orderType != 2"
											v-on:click="onPay(row.orderId)">修改支付方式</div>
										<button type="button" v-if="row.orderType == 1"
											class="layui-btn layui-btn-sm layui-btn-danger"
											v-on:click="onPay(row.orderId)">立即支付</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--5.分页-->
			<div style="margin: 13px 0 50px 0;display: flex;justify-content: space-between">
				<div></div>
				<div id="fenye_div" class="dis_fl">
					<div class="fy_btn sx_btn">上一页</div>
					<div class="fy_btn fy_selected_btn">1</div>
					<div class="fy_btn ">2</div>
					<div class="fy_btn ">3</div>
					<div class="fy_btn ">4</div>
					<div class="fy_btn sx_btn">下一页</div>
					<div class="fy_zi">共4页，到第<input class="fy_input">页</div>
					<div class="fy_quebtn">确定</div>
				</div>
			</div>
		</div>
		<div class="loadSideBar"></div>
	</div>
		<footer>

		</footer>
	<script type="text/javascript" src="../../common/jquery-1.12.1.js"></script>
	<script type="text/javascript" src="../../common/common.js"></script>
	<script type="text/javascript" src="../../js/shop_index.js"></script>
	<script type="text/javascript" src="../../common/config.js"></script>
	<script>
		//回退撤销
		sessionStorage.setItem("haveNotBack", "");
		//分页相关初始化
		function pageInit() {
			//总页数
			var total_size = Math.ceil(app.total / app.limit); console.log(app)
			//设置名称
			// $('#s_type_p').html($('#se_type_yi .type_sp').html());
			// if (fullName != "") {
			// 	$('#s_type_p').html(fullName);

			// }
			//设置个数
			$('#s_total_p').html(app.total);
			$('#r_total_p').html(app.total);
			$('#r_page_size_p').html(total_size);

			//显示 找到了。。。商品。。。
			$('#s_type_div').show();
			//分页
			var fenlei_html = "";
			/*var fenlei_html='<div class="fy_btn sx_btn">上一页</div>\n' +
				'<div class="fy_btn fy_selected_btn">1</div>\n' +
				'<div class="fy_btn ">2</div>\n' +
				'<div class="fy_btn ">3</div>\n' +
				'<div class="fy_btn ">4</div>\n' +
				'<div class="fy_btn sx_btn">下一页</div>\n' +
				'<div class="fy_zi">共4页，到第<input class="fy_input">页</div>\n' +
				'<div class="fy_quebtn">确定</div>';*/
			offset = Number(app.offset);
			if (offset > 1) {
				fenlei_html += '<div onclick="pageClick(this)" class="fy_btn sx_btn">上一页</div>';
			} else {
				fenlei_html += '<div class="fy_btn sx_btn">上一页</div>';
			}
			for (var i = offset > 4 ? offset - 3 : 1, j = 1; i <= total_size; i++ , j++) {

				//最后几页显示
				if (j >= total_size - (offset > 4 ? offset - 3 : 1)) {
					if (i == offset) {
						fenlei_html += '<div onclick="pageClick(this)" class="fy_btn fy_selected_btn">' + i + '</div>';
						$('#r_offset_p').html(i);
					} else {
						fenlei_html += '<div onclick="pageClick(this)" class="fy_btn ">' + i + '</div>';
					}
					continue;
				}
				//不是最后几页 并且大于4 不作+
				if (j > 4) {
					if (j == 5) {//显示...
						fenlei_html += '<div style="height: 35px;line-height: 35px;margin: 0 5px;">......</div>';
					}
					fenlei_html += '';
					continue;
				}
				//正常
				if (i == offset) {
					fenlei_html += '<div onclick="pageClick(this)" class="fy_btn fy_selected_btn">' + i + '</div>';
					$('#r_offset_p').html(i);

				} else {
					fenlei_html += '<div onclick="pageClick(this)" class="fy_btn ">' + i + '</div>';
				}
			}
			if (offset < total_size) {
				fenlei_html += '<div onclick="pageClick(this)" class="fy_btn sx_btn">下一页</div>';
			} else {
				fenlei_html += '<div class="fy_btn sx_btn">下一页</div>';
			}
			fenlei_html += '<div class="fy_zi">共' + total_size + '页，到第<input onchange="pageClick(this)" class="fy_input" value="">页</div>';
			fenlei_html += '<div class="fy_quebtn">确定</div>';
			$('#fenye_div').html(fenlei_html);
		}

		//分页相关点击处理
		function pageClick(that) {
			var total_size = Math.ceil(app.total / app.limit);

			//数据处理
			var ye = $(that).html();

			if (ye == "上一页") {
				offset = (Number(app.offset) - 1) < 0 ? 0 : Number(app.offset) - 1;
			} else if (ye == "下一页") {
				offset = (Number(app.offset) + 1) > total_size ? total_size : Number(app.offset) + 1;
			} else {
				if (ye == "" || ye == null) {
					ye = $(that).val();
				} else {
					//效果处理
					$('.fy_selected_btn').removeClass('fy_selected_btn');
					$(that).addClass('fy_selected_btn');
				}
				offset = ye;
			}
			app.offset = offset;
			app.getList(0);
		}

		var total_size = 0;
		var page = 1;
		var pageCount = 5;
		if (!window.user) {
			window.location.href = window.src + "pages/login/login.html";
		}
		var userId = window.user.id;
		var app = new Vue({
			el: '#app',
			data: {
				orderList: [],
				productList: [],
				inputtext: "",
				oshow: true,
				timeList: [],
				oshowmore: true,
				selectId: 0,
				begin: 0,
				total: 0,
				offset: 1,
				limit: 10,
				orderHeight:0,//每个订单的总高度
				packageNum:0,//套餐数量
				orderStrs: "全部订单",
				orders: ["全部订单", "3个月内订单", "历史订单"],
				history: ""
			},
			methods: {
				onOk(orderId) {
					$.ajax({
						type: "get",
						url: config + "/drug/orderInfo/upType",
						async: true,
						dataType: "jsonp",
						jsonp: "jsoncallback",
						data: {
							orderType: 4,
							orderId: orderId,
							userId: userId
						},
						success: function (data) {
							window.location.reload();
						},
					});
				},
				onHistory: function (type) {
					if (type == 3) {
						this.history = type;
						this.orderStrs = '3个月内订单';
					} else {
						this.history = "";
						this.orderStrs = '全部订单';
					}
					this.getList(0);
				},
				onShow: function (order) {
					order.oshowmore = true;
				},
				onDetails: function (orderId) {
					window.location.href = 'orderDetails.html?orderId=' + orderId;
				},
				onBuy: function (order) {
					console.log(order);
					if(order.type==0){//失效商品
						alert('此订单有失效套餐，无法再次购买！')
					}else{
						$.ajax({
							type: "get",
							url: config + "/drug/cart/add",
							async: true,
							dataType: "jsonp",
							jsonp: "jsoncallback",
							data: {
								userId: userId,
								fromType: 2,
								orderId: order.orderId
							},
							success: function (data) {
								var idStr = "";
								if(order.drugOrderProductList.length>0){
									for (var i = 0; i < order.drugOrderProductList.length; i++) {
										if(order.drugOrderProductList[i].mealList){//套餐商品 将套餐ID拿到拼接进去
											var mealId=order.drugOrderProductList[i].mealId;
											idStr += mealId + ",";
										}else{
											var drugId=order.drugOrderProductList[i].drugId
											idStr += drugId + ",";
										}
										
									}
								}
								localStorage.setItem("prodcutIds", idStr.substr(0, idStr.length - 1));
								window.location.href = window.src + "pages/shoppingCart/shoppingCart.html?page=orderpage";
							},
						});
					}
					
				},
				onCancel: function (orderId) {
					this.cancelOrder(orderId);
				},
				onPay: function (orderId) {
					sessionStorage.setItem("orderId", orderId);
					window.location.href = window.src + 'pages/pay/pay.html?orderId=' + orderId;
				},
				search: function () {
					this.getList(0);
				},
				select: function (index) {
					this.selectId = index;
					clearInterval(this.begin);
					this.getList(index);
				},
				listDispaly: function (data) {
					for (var key in data) {
						//是否存在
						if ($("#" + key)) {
							$("#" + key).html(data[key]);
						}
						
						//数组类型
						if (isArrayFn(data[key])) {
							var lists = data[key];
							this.orderList = lists;
							for (var i = 0; i < this.orderList.length; i++) {
								this.orderList[i].oshowmore = true;
								this.orderHeight=0;
								this.packageNum=0;
								//代付款时间
								if (this.orderList[i].orderType == 1) {
									this.orderList[i].spaceTime = new Date(this.orderList[i].overTime - this.orderList[i].startTime);
									this.timeList.push(this.orderList[i]);
								}
								
//								遍历所有的数据 计算每个订单的总条数 计算总高度
								for(var k = 0; k < this.orderList[i].drugOrderProductList.length;k++){
									
									if(this.orderList[i].drugOrderProductList[k].mealList){
										this.orderHeight+=this.orderList[i].drugOrderProductList[k].mealList.mealList.length;
										this.packageNum++;
									}else{
										this.orderHeight++;
									}
								}
								this.orderList[i].orderHeight=this.orderHeight;
								this.orderList[i].packageNum=this.packageNum;
//								console.log("num:::::",this.packageNum);
								
							}
							if (this.timeList.length > 0) {
								this.overtime();
							}
						}
					}
				},
				overtime: function () {
					var thiso = this;
					var time = (new Date()).getTime();
					this.begin = self.setInterval(function () {

						for (var i = 0; i < thiso.timeList.length; i++) {
							var order = thiso.timeList[i];
							// var overTime = order.overTime;
							// var startTime = order.startTime;
							// var spaceTime = overTime - startTime-1000;
							order.remainingTime = (order.remainingTime) - 1000;
							var date = formatSeconds(parseInt(order.remainingTime / 1000));
							$("#" + order.orderId).html(date);
							if (order.remainingTime <= 0) {
								thiso.cancelOrder(order.orderId);
							}
						}
					}, 1000)

				},
				cancelOrder: function (orderId) {
					clearInterval(this.begin);
					$.ajax({
						type: "get",
						url: config + "/drug/orderInfo/upType",
						async: true,
						dataType: "jsonp",
						jsonp: "jsoncallback",
						data: {
							orderType: 5,
							orderId: orderId,
							userId: userId,
							proType: 2
						},
						success: function (data) {
							window.location.reload();
						},
					});
				},
				getList: function (index) {
					var thiso = this;
					var datalist = new Object;
					datalist.userId = userId;
					if (this.selectId != 0) {
						datalist.orderType = this.selectId;
					}
					if (this.inputtext) {
						datalist.drugName = this.inputtext;
					}
					datalist.history = this.history;
					datalist.limit = this.limit;
					datalist.offset = this.offset;
					$.ajax({
						type: "get",
						url: config + "/drug/orderInfo/getList",
						async: true,
						dataType: "jsonp",
						jsonp: "jsoncallback",
						data: datalist,
						success: function (data) {
							if (data.status == 1) {
								thiso.listDispaly(data.resultMap);
								thiso.total = data.resultMap.total;
								pageInit();
								//
								if (data.resultMap.list.length == 0) {
									$('#fenye_div').hide();
								} else {
									$('#fenye_div').show();
								}
							} else {
								alert(data.message);
							}
						},
					});
				}
			},
			created() {
				this.getList(0);
			},
		})
	</script>
</body>

</html>