<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新增运营人员考核</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />		
		<!--组件库CSS-->
		<link rel="stylesheet" type="text/css" href="../../../css/element-ui.css"/>
		<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
		<link rel="stylesheet" type="text/css" href="../../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/projectPersonnel.css" />
		<style type="text/css">
			/*.el-input__inner{
				border: 1px solid transparent !important;
			}*/
			.el-collapse-item{
				padding-right: 1px;
			}
			.box{
				height: auto;
			}
			#hospitalName{
				text-overflow: ellipsis;
			}
		</style>
	</head>
	<body>
		<div id="webAlert">
			<div class="ibox-content middle_content">
				<form id="equipmentForm" onsubmit="return false;">
					<ul class="appointment-ul2">
						<li>
							<div class="topText">
								基础信息
								<!--<div class="editBtn editBtn11" @click="editBtnClick">{{ editBtnText }}</div>-->
							</div>
							<div class="contentBox1">
								<div style="width: 100%;">
									<div class="f_div">
										<!--<label class="f_lab" style="width: 110px;">运营人员：</label>-->
										<label class="f_lab">运营人员：</label>
										<el-input type="text" v-model="outName" class="newin active" id="outName" name="name" placeholder="负责人姓名" :readonly="true" ></el-input>
									</div>
									<div class="f_div">
										<!--<label class="f_lab" style="margin-right: 50px;">联系电话：</label>-->
										<label class="f_lab">联系电话：</label>
										<el-input type="text" v-model="outPhone" class="newin active" id="outPhone" name="phone" placeholder="联系方式" :readonly="true"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">所属医院：</label>
										<el-tooltip class="item" effect="dark" :content="hospitalName" placement="bottom-start">
											<el-input type="text" v-model="hospitalName" class="newin active" id="hospitalName" name="hospitalName" placeholder="所属医院" :readonly="true"></el-input>
									    </el-tooltip>
									</div>							
								</div>
								<div style="width: 100%;">
									<div class="f_div">
										<label class="f_lab"><span style="color: red;">*</span>项目名称：</label>
										<el-input type="text" v-model="projectName" id="projectName" name="projectName" placeholder="项目名称" :class="dataFlag != 0 ? 'newin active' : 'newin'" v-bind:readonly="dataFlag != 0"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">地址：</label>
										<el-input type="text" v-model="address" id="address" name="address" placeholder="地址" :class="dataFlag != 0 ? 'newin active' : 'newin'" v-bind:readonly="dataFlag != 0"></el-input>
									</div>
								</div>
								<!--<div style="width: 100%;">
									<div class="f_div">
										<label class="f_lab"><span style="color: red;">*</span>日期：</label>
										<input class="newin layer-date" name="time" id="timeIn" readonly="readonly" placeholder="时间" :class="dataFlag1 != 0 ? 'newin active layer-date' : 'newin layer-date'" style="background-color: #FFF;" value="" v-bind:readonly="dataFlag1 != 0"/>
										<input type="text" class="newin" id="time" name="time" value="" />
									</div>
								</div>-->
							</div>
						</li>
						<li>
							<div class="topText innerHospital">
								工作内容
							</div>
							<div class="box innerBox">
								<el-collapse accordion v-model="activeName2" v-for="(item, index) in dataList" :key="index" style="display: block;padding-left: 0;">
									<el-collapse-item>
										<template slot="title">
											<div>{{ item.time | resTime }}</div>
											<!--{{ item.itemFirstName }}-->
										</template>
										<div class="cloneBoxIn" style="padding: 0 20px;">
											<el-collapse accordion v-model="activeName" style="display: block;padding-left: 0;">
												<el-collapse-item v-for="(item, index) in item.hospitalInnerList" :key="index" :name="item.count">
													<template slot="title">
														院内
														<!--{{ item.itemFirstName }}
														{{ item.itemFirstContent }}
														{{ item.itemSecondName }}
														{{ item.itemSecondContent }}-->
														<!--<i class="header-icon el-icon-info"></i>-->
														<!--<div class="cloneBoxBtnGroup">
															<div class="editBtn cancelBtn1 btnTextColor" @click.stop="cancelBtnList1Click($event, index)" v-show="item.btnListFlag">取消</div>
															<div class="editBtn editBtnList1 btnTextColor" @click.stop="editBtnList1Click($event, index)">{{ item.editBtnText }}</div>
															<div class="editBtn addBtn1 btnTextColor" @click.stop="handleCancel(index)" v-show="item.addBtnListFlag">删除</div>
															<span class="btnTextColor" @click.stop="handleCancel(item.count)">删除</span>
														</div>-->
												    </template>
												    <!--<div class="cloneBoxIn">-->
												    <div class="cloneBoxIn">	
														<template>
															<div>
																<input type="hidden" name="type" value="2" />
																<div class="f_div" v-for="(item, index) in item.dataTopList" :key="index" :style="item.boxStyle">
																	<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
																	<el-input 
																		class="newin" 
																		v-model="item.idName"
																		:name="item.inputVar"  
																		:placeholder="item.placeholder"
																		:class="dataListFlag1 != 0 ? 'newin active' : 'newin'"
																		v-bind:readonly="dataListFlag1 != 0"
																		>
																	</el-input>
																	<!--v-if="index != 0"-->
																	<!--v-model="$data[item.idName]"--> 
																	<!--<el-date-picker
																		v-else 
																	    v-model="item.idName"
																	    class="newin"
																	    :name="item.inputVar"
																	    type="date"
																	    v-bind:readonly="dataListFlag1 != 0"
																	    :placeholder="item.placeholder">
																    </el-date-picker>-->
																	<!--<input 
																		v-else 
																		class="newin layer-date" 
																		:name="item.inputVar" 
																		readonly="readonly" 
																		:placeholder="item.placeholder"
																		style="background-color: #FFF;" 
																		value="" 
																		/>-->
																</div>
															</div>
															<div class="f_div" v-for="(item, index) in item.dataOtherList" :key="index">
																<!--<label class="f_lab">{{ item }}</label>-->
																<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
																<el-input 
																	type="textarea" 
																	class="newin textareaBox" 
																	v-model="item.idName"
																	:class="dataListFlag1 != 0 ? 'newin active textareaBox' : 'newin textareaBox'"
																	v-bind:readonly="dataListFlag1 != 0"
																	:name="item.inputVar" 
																	:placeholder="item.placeholder"
																	>
																</el-input>
																<!--v-model="$data[item.idName]"--> 
															</div>
														</template>
													</div>
												</el-collapse-item>
											</el-collapse>
											<el-collapse accordion v-model="activeName1" style="display: block;padding-left: 0;">
												<el-collapse-item v-for="(item, index) in item.hospitalOuterList" :key="index" :name="item.count">
													<template slot="title">
														院外
														<!--{{ item.itemFirstName }}
														{{ item.itemFirstContent }}
														{{ item.itemSecondName }}
														{{ item.itemSecondContent }}
														{{ item.itemThirdName }}
														{{ item.itemThirdContent }}-->
														<!--<i class="header-icon el-icon-info"></i>-->
														<!--<div class="cloneBoxBtnGroup">
															<span class="btnTextColor" @click.stop="handleCancel1(item.count)">删除</span>
															<div class="editBtn cancelBtn2 btnTextColor" @click.stop="cancelBtnList2Click($event, index)" v-show="item.btnListFlag">取消</div>
															<div class="editBtn editBtnList2 btnTextColor" @click.stop="editBtnList2Click($event, index)">{{ item.editBtnText }}</div>
															<div class="editBtn addBtn2 btnTextColor" @click.stop="handleCancel1(index)" v-show="item.addBtnListFlag">删除</div>
															<span class="btnTextColor" @click.stop="handleCancel1(item.count)">删除</span>
														</div>-->
												    </template>
												    <!--<div class="cloneBoxIn">-->
												    <div class="cloneBoxIn">	
														<template>
															<div>
																<input type="hidden" name="type" value="1" />
																<div class="f_div" v-for="(item, index) in item.dataTopList" :key="index" :style="item.boxStyle">
																	<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
																	<el-input 
																		class="newin" 
																		v-model="item.idName"
																		:name="item.inputVar"  
																		 :class="dataListFlag2 != 0 ? 'newin active' : 'newin'"
																		:placeholder="item.placeholder"
																		v-bind:readonly="dataListFlag2 != 0"
																		
																		>
																	</el-input>
																	<!--v-if="index != 0"-->
																	<!--v-model="$data[item.idName]"--> 
																	<!--<el-date-picker
																		v-else 
																	    v-model="item.idName"
																	    class="newin"
																	    :name="item.inputVar"
																	    type="date"
																	    v-bind:readonly="dataListFlag2 != 0"
																	    :placeholder="item.placeholder">
																    </el-date-picker>-->
																	<!--<input 
																		v-else 
																		class="newin layer-date" 
																		:name="item.inputVar" 
																		readonly="readonly" 
																		:placeholder="item.placeholder"
																		style="background-color: #FFF;" 
																		value="" 
																		/>-->
																</div>
															</div>
															<div class="f_div" v-for="(item, index) in item.dataOtherList" :key="index">
																<!--<label class="f_lab">{{ item }}</label>-->
																<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
																<el-input 
																	type="textarea" 
																	class="newin textareaBox" 
																	v-model="item.idName"
																	:name="item.inputVar" 
																	 :class="dataListFlag2 != 0 ? 'newin active textareaBox' : 'newin textareaBox'"
																	v-bind:readonly="dataListFlag2 != 0"
																	:placeholder="item.placeholder"
																	>
																</el-input>
																<!--v-model="$data[item.idName]"--> 
															</div>
														</template>
													</div>
												</el-collapse-item>
											</el-collapse>
										</div>
									</el-collapse-item>
								</el-collapse>
							</div>
						</li>
						<li style="display: none;">
							<div class="topText innerHospital" data-id="0">
								院内
								<div class="editBtn cancelBtn1" @click="cancelBtn1Click" v-show="btn1Flag">取消</div>
								<div class="editBtn editBtn1" @click="editBtn1Click">{{ editBtn1Text }}</div>
								<div class="editBtn addBtn1" @click="addBtn1Click" v-show="addBtn1Flag">新增</div>
							</div>
							<div class="box innerBox">
								<input type="hidden" name="type" value="2" />
								
								<div>
									
									<div class="f_div">
										<label class="f_lab" style="margin-right: 6px;">职务：</label>
										<el-input type="text" v-model="resignIn" class="newin" id="resign" name="resign" placeholder="职务" :class="dataFlag1 != 0 ? 'newin active' : 'newin'" v-bind:readonly="dataFlag1 != 0"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">负责人：</label>
										<el-input type="text" v-model="nameIn" class="newin" id="name" name="name" placeholder="负责人" :class="dataFlag1 != 0 ? 'newin active' : 'newin'" v-bind:readonly="dataFlag1 != 0"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">所属科室：</label>
										<el-input type="text" v-model="sectionsIn" class="newin" id="sections" name="sections" :class="dataFlag1 != 0 ? 'newin active' : 'newin'" placeholder="所属科室" v-bind:readonly="dataFlag1 != 0"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">联系方式：</label>
										<el-input type="text" v-model="phoneIn" class="newin" id="phone" name="phone" :class="dataFlag1 != 0 ? 'newin active' : 'newin'" placeholder="联系方式" v-bind:readonly="dataFlag1 != 0"></el-input>
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">内容：</label>
										<el-input type="textarea" v-model="contentIn" id="content" name="content" :class="dataFlag1 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" class="newin textareaBox" placeholder="内容" v-bind:readonly="dataFlag1 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">成果：</label>
										<el-input type="textarea" v-model="achievementsIn" id="achievements" :class="dataFlag1 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" name="achievements" class="textareaBox newin" placeholder="成果" v-bind:readonly="dataFlag1 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">存在问题：</label>
										<el-input type="textarea" v-model="existingProblemsIn" id="existingProblems" :class="dataFlag1 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" name="existingProblems" class="textareaBox newin" placeholder="存在问题" v-bind:readonly="dataFlag1 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">解决方案：</label>
										<el-input type="textarea" v-model="solutionIn" id="solution" name="solution" :class="dataFlag1 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" class="textareaBox newin" placeholder="解决方案" v-bind:readonly="dataFlag1 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<el-collapse accordion v-model="activeName" style="display: block;padding-left: 0;">
									<el-collapse-item v-for="(item, index) in hospitalInnerList" :key="index" :name="item.count">
										<template slot="title">
											{{ item.itemFirstName }}
											{{ item.itemFirstContent }}
											{{ item.itemSecondName }}
											{{ item.itemSecondContent }}
											<!--<i class="header-icon el-icon-info"></i>-->
											<div class="cloneBoxBtnGroup">
												<div class="editBtn cancelBtn1 btnTextColor" @click.stop="cancelBtnList1Click($event, index)" v-show="item.btnListFlag">取消</div>
												<div class="editBtn editBtnList1 btnTextColor" @click.stop="editBtnList1Click($event, index)">{{ item.editBtnText }}</div>
												<div class="editBtn addBtn1 btnTextColor" @click.stop="handleCancel(index)" v-show="item.addBtnListFlag">删除</div>
												<!--<span class="btnTextColor" @click.stop="handleCancel(item.count)">删除</span>-->
											</div>
									    </template>
									    <!--<div class="cloneBoxIn">-->
									    <div class="cloneBoxIn">	
											<template>
												<div>
													<input type="hidden" name="type" value="2" />
													<div class="f_div" v-for="(item, index) in item.dataTopList" :key="index" :style="item.boxStyle">
														<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
														<el-input 
															class="newin" 
															v-model="item.idName"
															:name="item.inputVar"  
															:placeholder="item.placeholder"
															:class="dataListFlag1 != 0 ? 'newin active' : 'newin'"
															v-bind:readonly="dataListFlag1 != 0"
															>
														</el-input>
														<!--v-if="index != 0"-->
														<!--v-model="$data[item.idName]"--> 
														<!--<el-date-picker
															v-else 
														    v-model="item.idName"
														    class="newin"
														    :name="item.inputVar"
														    type="date"
														    v-bind:readonly="dataListFlag1 != 0"
														    :placeholder="item.placeholder">
													    </el-date-picker>-->
														<!--<input 
															v-else 
															class="newin layer-date" 
															:name="item.inputVar" 
															readonly="readonly" 
															:placeholder="item.placeholder"
															style="background-color: #FFF;" 
															value="" 
															/>-->
													</div>
												</div>
												<div class="f_div" v-for="(item, index) in item.dataOtherList" :key="index">
													<!--<label class="f_lab">{{ item }}</label>-->
													<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
													<el-input 
														type="textarea" 
														class="newin textareaBox" 
														v-model="item.idName"
														:class="dataListFlag1 != 0 ? 'newin active textareaBox' : 'newin textareaBox'"
														v-bind:readonly="dataListFlag1 != 0"
														:name="item.inputVar" 
														:placeholder="item.placeholder"
														>
													</el-input>
													<!--v-model="$data[item.idName]"--> 
												</div>
											</template>
										</div>
									</el-collapse-item>
								</el-collapse>
							</div>	
						</li>
						<li style="display: none;">
							<div class="topText innerHospital" data-id="1">
								院外
								<div class="editBtn cancelBtn2" @click="cancelBtn2Click" v-show="btn2Flag">取消</div>
								<div class="editBtn editBtn2" @click="editBtn2Click">{{ editBtn2Text }}</div>
								<div class="editBtn addBtn2" @click="addBtn2Click" v-show="addBtn2Flag">新增</div>
							</div>
							<div class="box innerBox">
								<input type="hidden" name="type" value="1" />
								<div>
									<!--<div class="f_div">
										<label class="f_lab">时间：</label>
										<input class="newin layer-date" name="time" id="timeOut" readonly="readonly" placeholder="时间" style="background-color: #FFF;" value="" v-bind:readonly="dataFlag2 != 0"/>
										<input type="text" class="newin" id="time" name="time" value="" />
									</div>-->
									<div class="f_div">
										<label class="f_lab" style="margin-right: 6px;">单位：</label>
										<el-input type="text" v-model="resign" class="newin" id="resign" :class="dataFlag2 != 0 ? 'newin active' : 'newin'" name="resign" placeholder="单位" v-bind:readonly="dataFlag2 != 0"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">科室：</label>
										<el-input type="text" v-model="sections" class="newin" id="sections" :class="dataFlag2 != 0 ? 'newin active' : 'newin'" name="name" placeholder="科室" v-bind:readonly="dataFlag2 != 0"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">负责人：</label>
										<el-input type="text" v-model="name" class="newin" id="name" :class="dataFlag2 != 0 ? 'newin active' : 'newin'" name="sections" placeholder="负责人" v-bind:readonly="dataFlag2 != 0"></el-input>
									</div>
									<div class="f_div">
										<label class="f_lab">联系方式：</label>
										<el-input type="text" v-model="phone" class="newin" id="phone" name="phone" :class="dataFlag2 != 0 ? 'newin active' : 'newin'" placeholder="联系方式" v-bind:readonly="dataFlag2 != 0"></el-input>
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">内容：</label>
										<el-input type="textarea" v-model="content" id="content" name="content" :class="dataFlag2 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" class="newin textareaBox" placeholder="内容" v-bind:readonly="dataFlag2 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">成果：</label>
										<el-input type="textarea" v-model="achievements" id="achievements" name="achievements" :class="dataFlag2 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" class="textareaBox newin" placeholder="成果" v-bind:readonly="dataFlag2 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">存在问题：</label>
										<el-input type="textarea" v-model="existingProblems" id="existingProblems" name="existingProblems" :class="dataFlag2 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" class="textareaBox newin" placeholder="存在问题" v-bind:readonly="dataFlag2 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<div>
									<div class="f_div">
										<label class="f_lab">解决方案：</label>
										<el-input type="textarea" v-model="solution" id="solution" name="solution" class="textareaBox newin" :class="dataFlag2 != 0 ? 'newin active textareaBox' : 'newin textareaBox'" placeholder="解决方案" v-bind:readonly="dataFlag2 != 0"></el-input>
										<!--<input type="text" class="newin" id="equipmentType" name="inspectProject" value="" />-->
									</div>
								</div>
								<el-collapse accordion v-model="activeName1" style="display: block;padding-left: 0;">
									<el-collapse-item v-for="(item, index) in hospitalOuterList" :key="index" :name="item.count">
										<template slot="title">
											{{ item.itemFirstName }}
											{{ item.itemFirstContent }}
											{{ item.itemSecondName }}
											{{ item.itemSecondContent }}
											{{ item.itemThirdName }}
											{{ item.itemThirdContent }}
											<!--<i class="header-icon el-icon-info"></i>-->
											<div class="cloneBoxBtnGroup">
												<!--<span class="btnTextColor" @click.stop="handleCancel1(item.count)">删除</span>-->
												<div class="editBtn cancelBtn2 btnTextColor" @click.stop="cancelBtnList2Click($event, index)" v-show="item.btnListFlag">取消</div>
												<div class="editBtn editBtnList2 btnTextColor" @click.stop="editBtnList2Click($event, index)">{{ item.editBtnText }}</div>
												<div class="editBtn addBtn2 btnTextColor" @click.stop="handleCancel1(index)" v-show="item.addBtnListFlag">删除</div>
												<!--<span class="btnTextColor" @click.stop="handleCancel1(item.count)">删除</span>-->
											</div>
									    </template>
									    <!--<div class="cloneBoxIn">-->
									    <div class="cloneBoxIn">	
											<template>
												<div>
													<input type="hidden" name="type" value="1" />
													<div class="f_div" v-for="(item, index) in item.dataTopList" :key="index" :style="item.boxStyle">
														<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
														<el-input 
															class="newin" 
															v-model="item.idName"
															:name="item.inputVar"  
															 :class="dataListFlag2 != 0 ? 'newin active' : 'newin'"
															:placeholder="item.placeholder"
															v-bind:readonly="dataListFlag2 != 0"
															
															>
														</el-input>
														<!--v-if="index != 0"-->
														<!--v-model="$data[item.idName]"--> 
														<!--<el-date-picker
															v-else 
														    v-model="item.idName"
														    class="newin"
														    :name="item.inputVar"
														    type="date"
														    v-bind:readonly="dataListFlag2 != 0"
														    :placeholder="item.placeholder">
													    </el-date-picker>-->
														<!--<input 
															v-else 
															class="newin layer-date" 
															:name="item.inputVar" 
															readonly="readonly" 
															:placeholder="item.placeholder"
															style="background-color: #FFF;" 
															value="" 
															/>-->
													</div>
												</div>
												<div class="f_div" v-for="(item, index) in item.dataOtherList" :key="index">
													<!--<label class="f_lab">{{ item }}</label>-->
													<label class="f_lab" :style="item.labelStyle">{{ item.name }}</label>
													<el-input 
														type="textarea" 
														class="newin textareaBox" 
														v-model="item.idName"
														:name="item.inputVar" 
														 :class="dataListFlag2 != 0 ? 'newin active textareaBox' : 'newin textareaBox'"
														v-bind:readonly="dataListFlag2 != 0"
														:placeholder="item.placeholder"
														>
													</el-input>
													<!--v-model="$data[item.idName]"--> 
												</div>
											</template>
										</div>
									</el-collapse-item>
								</el-collapse>
							</div>
						</li>
					</ul>
					<!--<div class="btnGroup addGroup">
						<button type="button" class="subBtn subBtn1 Btn comTempateSaveBtn" @click="saveBtnClick">保存</button>
					</div>-->
				</form>
			</div>
		</div>
		
		
		<script type="text/javascript" src="../../../js/vue.js"></script>
		<script src="../../../js/element-ui.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
		<!--<script type="text/javascript" src="../../../js/element-ui.js"></script>-->
		<script src="../../../js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../../../js/plugins/layer/layer.min.js"></script>
		<script src="../../../js/plugins/layer/laydate/laydate5.0.js"></script>
		<script type="text/javascript" src="../../../js/config.js"></script>
		<script type="text/javascript" src="../../../js/common.js"></script>
		<script type="text/javascript" src="editProjectPersonnel-new.js"></script>
		<script type="text/javascript">
			var ins22 = laydate.render({
			  elem: '#timeIn'
			  ,trigger: 'click'
			});
			var ins22 = laydate.render({
			  elem: '#timeOut'
			  ,trigger: 'click'
			});
		</script>
	</body>
</html>
